# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
.next/
out/
build/

# Env
.env
.env.local
.env.*.local

# Turbo
.turbo

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Testing
coverage/
.nyc_output/

# Prisma
packages/db/prisma/*.db

# MinIO data
minio-data/
