version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: labflow-postgres
    environment:
      POSTGRES_USER: labflow
      POSTGRES_PASSWORD: labflow
      POSTGRES_DB: labflow
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-EXEC', 'pg_isready -U labflow']
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: labflow-redis
    ports:
      - '6379:6379'
    volumes:
      - redis-data:/data
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 5s
      timeout: 5s
      retries: 5

  minio:
    image: minio/minio:latest
    container_name: labflow-minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - minio-data:/data

  mailhog:
    image: mailhog/mailhog:latest
    container_name: labflow-mailhog
    ports:
      - '1025:1025'
      - '8025:8025'

volumes:
  postgres-data:
  redis-data:
  minio-data:
